<% provide(:title, @entry.user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @entry.user %>
        <%= yield :title %>
      </h1>
    </section>
    <ol class="entries">
        <li id="entry-<%= @entry.id %>">
        <%= link_to gravatar_for(@entry.user, size: 50), @entry.user %>
        <span class="user"><%= link_to @entry.user.name, @entry.user %></span>
        <span class="title"><%= @entry.title %></span>
        <span class="body"><%= @entry.body %></span>
        <span class="timestamp">
        Posted <%= time_ago_in_words(@entry.created_at) %> ago.
        <% if current_user?(@entry.user) %>
            <%= link_to "Delete", @entry, method: :delete,
                                        data: { confirm: "You sure?" } %>
            <% end %>   
        </li>
    </ol>
  </aside>
  <div class="col-md-8">
  	<% if !@user.nil? %>
  		<%= render 'shared/comment_form' %>
  	<% end %>
   	<h2>Comment</h2>
   	<ol class="entries">
       <%= render @comments %>
    </ol>
    <%= will_paginate @comments %>
	</div>
</div>